.col-md-8 .about-text
{
    font-size: 16px;
    justify-content: flex-start;
}

.about-heading
{
    font-weight: 400;
    font-size: 3em;
}

.inp
{
    margin-bottom: 10px;
    margin-top: 10px;
}

.align-center
{
    text-align: center;
    margin: 0 auto!important;
}

.writetous
{
    font-size: 1.5em;
}

.about-glyph
{
    font-size: 2.5em;
    padding-right: 5px;
}