html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 150px !important;
    margin-bottom: 100px;
}

body,
.navbar-fixed-top,
.navbar-fixed-bottom {
    min-width: 970px;
    max-width: 100%;
}

nav {
    position: fixed;
    padding: 0 !important;
    background-color: #00BCD4 !important;
}

footer {
    position: absolute;
    bottom: 25px;
    width: 100%;
    height: 60px;
    text-align: center;
}

.btn-yellow {
    border: 1px solid #e0bc27;
}

.btn-social {
    border-radius: 2px;
}

.btn:focus:active, .btn:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

.section-body, .interviewer-summary {
    word-break: break-all;
}

.search-bar {
    width: 50%;
}

.search-input {
    width: 100%;
    margin: 0;
}

.search-text-box {
    padding-left: 0;
    border: none;
    line-height: 17px;
    height: 34px;

}

.search-btn, .search-btn:hover {
    background-color: #fdd922;
    border: 1px solid #e0bc27;
    border-radius: 0 2px 2px 0;
    text-transform: uppercase;
    color: #565656;
    line-height: 17px;
    height: 34px;
    cursor: pointer;
}



footer span.copyright {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

footer ul.quicklinks {
    margin-bottom: 0;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 40px;
}

ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color: #fed136;
}

.nav-hide {
    margin-top: -40px;
}

.navbar-form .input-group .input-group-addon {
    width: 1%;
    border: none;
    background: white;
}

.icon-bar {
    background-color: #ffffff !important;
}

.search-input {
    width: 100%;
    margin: 0;
}

.btn-yellow {
    border: 1px solid #e0bc27;
}

.btn-social {
    border-radius: 2px;
}

.btn:focus:active, .btn:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    outline: none;
}

.yellow-btn, .yellow-btn:hover, .yellow-btn:focus {
    background-color: #fdd922;
    border: 1px solid #e0bc27;
    border-radius: 1px;
    text-transform: uppercase;
    color: #565656;
    line-height: 20px;
    height: 34px;
    cursor: pointer;
}

.section-body, .interviewer-summary {
    word-break: break-all;
}

.header-fixed {
    position: fixed;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 1000;

}

body,
.header-fixed {
    min-width: 970px;
    max-width: 100%;
    width: 100%;
}

.mi-font-11 {
    font-size: 11px;
}

.mi-text-center {
    text-align: center;
}

.fllt {
    float: left;
}

.logo-img-link {
    transition: all 300ms linear 0s;
    text-decoration: none;
    margin: 5px 0 0 0;
}

.search-unit {
    max-width: 38%;
    min-width: 38%;
    display: inline-block;
    margin-left: 20px;
}

.clearfix:after {
    content: " "; /* Older browser do not support empty content */
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.header-brand {
    display: inline-block;
}

.search-unit .input-group .input-group-addon {
    width: 1%;
    border: none;
    background: white;
    border-radius: 2px 0 0 2px;
}

.search-unit .form-control:focus {
    box-shadow: none;
    border: none;
}

.header-content {
    text-align: center;
}

.search-text-box {
    padding-left: 0;
    border: none;
    line-height: 17px;
    height: 38px;

}

.search-btn, .search-btn:hover {
    background-color: #fdd922;
    border: 1px solid #e0bc27;
    border-radius: 0 2px 2px 0;
    text-transform: uppercase;
    color: #565656;
    line-height: 17px;
    height: 38px;
    cursor: pointer;
}

.header-second-bar-hide {
    margin-top: -40px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.header-right-menu {
    margin-bottom: 3px;
}

.header-right-menu, .header-menu {
    list-style-type: none;
    padding-left: 0;

}

.header-menu {
    display: inline-block;
    margin-bottom: 0;
}

.header-topbar {
    position: relative;
    z-index: 1500;
    padding-top: 20px;
    text-align: center;
    width: 100%;
    height: 78px;
    background-color: #00BCD4;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.header-right-menu > li {
    float: left;
    margin: 0 5px;
}

.right-menu {
    display: inline-block;
}

.right-menu-yellow-btn, .right-menu-yellow-btn:hover {
    background-color: #00ACC1;
    border: 1px solid #0097A7;
    border-radius: 1px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 20px;
    height: 34px;
    width: 100px;
    font-size: 13px;
    cursor: pointer;
}

.right-menu-yellow-btn a, .right-menu-yellow-btn:hover a {
    color: white;
    text-decoration: none;
}

.header-second-bar {
    position: relative;
    display: block;
    padding: 0;
    background-color: #00ACC1;
    height: 40px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;

}

.sticky {
    padding-bottom: 0;
    padding-top: 0;
    height: 50px;
    transition: all 0.4s ease;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
}

.drop-menu-item {
    float: left;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
}

.drop-menu-item:hover, .drop-menu-item-hover {
    background: #ffffff;
    color: #777;
    border-radius: 2px 2px 0 0;
}

.dropdown-panel {
    position: absolute;
    top: 117px;
    z-index: 2;
    background: white;
    /*height: 400px;*/
    max-width: 900px;
    min-width: 700px;
    padding-bottom: 10px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: left;
    border-radius: 1px;
    display: none;
    -moz-transition: none;
    -webkit-transition: none;
    transition: none;
    box-shadow:0 4px 6px -1px rgba(0,0,0,0.4)
}

.dropdown-panel ul {
    list-style-type: none;
}

.dropdown-panel h4 {
    padding-left: 10px;
}

.dropdown-panel ul li {
    float: left;
    margin: 5px 5px;
    width: 200px;
}

.dropdown-panel ul li a {
    color: #444;
    font-size: 13px;
    font-weight: 400;
}

.dropdown-panel ul li a:hover:after{
    /*content:" ";*/
    /*width: 0;*/
    /*height: 0;*/
    /*border-style: solid;*/
    /*margin-left:2px;*/
    /*margin-bottom: 1px;*/
    /*border-width: 3px 0 3px 6px;*/
    /*border-color: transparent transparent transparent #000000;*/
    /*display:inline-block;*/
    /*position:relative;*/
    /*-webkit-transition:all 100ms ease-out 0s;*/
    /*-moz-transition:all 100ms ease-out 0s;*/
    /*-ms-transition:all 100ms ease-out 0s;*/
    /*transition:all 100ms ease-out 0s*/
    content: "\f054";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: 10px;
    text-rendering: auto;
    text-decoration:none;
    margin-left:2px;
    margin-bottom: 1px;
    display:inline-block;
    position:relative;
    -webkit-transition:all 100ms ease-out 0s;
    -moz-transition:all 100ms ease-out 0s;
    -ms-transition:all 100ms ease-out 0s;
    transition:all 100ms ease-out 0s
}

.panel-default {
    border: none;
    background-color: transparent;
}

.panel-default > .panel-heading {
    border: none;
    background-color: transparent;
}

.panel-heading:hover a {
    text-decoration: underline;
}

.rotate {
    display: inline-block;
    white-space: nowrap;
    transform: translate(0, 100%) rotate(270deg);
    -webkit-transform: translate(0, 100%) rotate(270deg);
    -moz-transform: translate(0, 100%) rotate(270deg);
    -o-transform: translate(0, 100%) rotate(270deg);
    writing-mode: lr-tb;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    transform-origin: 0 0;
}

.rotate:before {
    content: "";
    float: left;
    margin-top: 100%;
}

.dropdown-panel > h4, .dropdown-panel > h5 {
    font-size: 14px;
    color: #444;
    font-weight: bold;
}

hr{
    border-top-color: #ccc;
    margin-top: 0;

}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
body.loading .loading_modal {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, .8) url('../images/ajax-loader.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading_modal {
    display: block;
}