.alert {
    margin-bottom: 0px !important;
    padding: 0px !important;
    color: black !important;
    background: none !important;
    border: none !important;
}
.close {
    margin-top: 18px !important;
}

.interview-price {
    margin-right: 10px !important;
}

.proceed-btn {
    margin-right: 20px !important;
}

form{
    display: inline;
}