
.fa-times {
    cursor: pointer;
}
.fa-caret-down {
    padding: 3px;
    cursor: pointer;
}
.chosen-container .chosen-results{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
}
.chosen-container .chosen-results li.group-option {
    text-align: left!important;
}
.chosen-container-single .chosen-single{
    background: #ffffff!important;
    border-radius: 2px!important;
}
.chosen-container-single .chosen-single span{
    overflow: visible!important;
}
.interviewer-current-work{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px;
    margin-left: 0px!important;
    padding: 2px 0px 2px 10px;
}
.interviewer-name{
    display: block;
}
.compare-experience-period{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 12px!important;
    padding: 2px 0px 2px 7px;
}
.compare-bio-text{
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: 13px!important;
    word-break: break-all;
}
.section-title{
    font-family: Trebuchet MS,Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    padding-top: 5px;
}
.compare-nothing{
    padding: 30px;
    height: 25px;
}
.compare-review-rating{
    padding-top: 5px;
}
.compare-review-by{
    float: left;
    padding-right: 10px;
    padding-top: 5px;
}
.compare-corner-cell{
    color: #ffffff!important;
}
table{
    height: 100%;
    width: 100%;
}
.compare-a{
color: inherit
}
th{
    text-align: center;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif!important;
    font-size: medium;
    padding: 5px 5px;
    /*background-color: #26C6DA;*/
    border-radius: 2px;
}
td, th{
    padding: 10px!important;
    width: 33%;
}
.panel-primary {
    border-color: #26C6DA!important;
}

