.panel-heading {
    padding: 10px 0 !important;
}

.panel {
    margin-bottom: 0 !important;
    border-bottom: 1px solid #d5d5d5;
    border-radius: 0 !important;
}

.interviewer-img img {
    max-width: 100%;
    min-width: 100%;
    border-radius: 3px;
}

.filter-panel {
    width: 230px;
    float: left;
}

.listings-panel {
    padding-left: 260px;
}

.interviewer-name {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 20px;
    padding-left: 0 !important;
    display: inline-block;
}

/*.interview-details*/
/*{*/
/*margin-top: 10px!important;*/
/*}*/

.interviewer-current-work {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin-left: 0 !important;
}

.interviewer-summary {
    margin-top: 5px;
}

.star-rating {
    display: inline-block;
    padding-left: 10px;
}

.interview-price {
    display: inline-block;
    padding-right: 10px;
    padding-top: 10px;
    font-weight: 300;
    font-size: 25px;
}

.interview-row {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #d5d5d5 !important;
    border-radius: 0 !important;
}

.shortlist-btn, .shortlist-btn:hover {
    background-color: #fdd922;
    border: 1px solid #e0bc27;
    border-radius: 1px;
    text-transform: uppercase;
    color: #565656;
    line-height: 20px;
    height: 34px;
    cursor: pointer;
    margin-top: 12px;
}

#loadmore {
    margin-top: 10px;
}

.date-panel-body {
    padding: 5px !important;
}

.slider-handle {
    background: #000000 none !important;
    margin-top: -8px !important;
}

.slider-selection {
    background: #000000 none !important;
}

.slider-track {
    height: 4px !important;
}

.slider {
    width: 100% !important;
}

#price_help, #rating_help, #yearsofexperience_help {
    margin-bottom: 10px;
    float: left;
}

input[type='radio'] {
    margin-left: -25px;
    margin-right: 10px;
}

.date-field-group {
    margin-bottom: 10px;
    padding: 0;
}

.subcategorytitle, .companiestitle {
    display: inline;
}

.invisible {
    visibility: hidden;
}

.query-text {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.black-link {
    color: #000000;
}

.scroll-div {
    max-height: 200px;
    overflow-y: scroll;
}

.sort-dropdown {
    border-radius: 2px;
}
