.mi_login {
    text-align: center;
}

.form-padding {
    margin-top: 10px;
}

.mi_authTitle_forgotPassword {

    font-size: 16px;
}

.mi_authTitle, .mi_authTitle_forgotPassword {
    text-align: center;
    line-height: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 400;
}

.mi_authTitle {
    font-size: 16px;
}

.btn-primary {
    background: #00BCD4 !important;
}

.active {
    background: #007f8f !important;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.mi_forgotPassword {
    margin-top: 10px;
}

.mi_forgotPassword, .mi_checkbox {
    font-size: 17px;
    font-style: normal;
    font-weight: normal;
}

.mi_login .alert-danger {
    font-size: 17px;
}
.mi_forgotPassword_row{
    margin-top: 50px;
}

.bg {
    /*background-color: #F0F3F4;*/
    background-color: #ffffff;
}

.white-font {
    color: #ffffff;
}

.btn-yellow {
    background-color: #fdd922 !important;
    border-radius: 2px !important;
}

.or-spacer {
    width: 75.00%;
    margin: 3% auto;
    position: relative;
}

.or-spacer .mask {
    overflow: hidden;
    height: 20px;
}

.or-spacer .mask:after {
    content: '';
    display: block;
    margin: -25px auto 0;
    width: 100%;
    height: 25px;
    border-radius: 125px / 12px;
    box-shadow: 0 0 8px black;
}

.or-spacer span {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 100%;
    margin-bottom: -25px;
    left: 50%;
    margin-left: -25px;
    border-radius: 100%;
    box-shadow: 0 2px 4px #999;
    background: white;
}

.or-spacer span i {
    position: absolute;
    top: 4px;
    bottom: 4px;
    left: 4px;
    right: 4px;
    border-radius: 100%;
    border: 1px dashed #aaa;
    text-align: center;
    line-height: 40px;
    font-style: normal;
    color: #999;
}

.alert-danger {
    color: #f51c23 !important;
    background-color: white !important;
    width: 50%;
    margin: auto;
    border: none !important;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
    color: red !important;
}

/*.input-group {*/
    /*margin-top: 2%;*/
/*}*/

.btn-upload {
    position: relative;
    overflow: hidden;
}

.btn-upload input.up-hidden {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    width: 100%;
    height: 100%;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.btn-image {
    background: url('../files/profile_images/0_profile_image.jpg') no-repeat center;
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.btn-group {
    margin-top: 30px;
}

#btn-image {
    margin-top: 20px;
}

.input-group .form-control {
    border-radius: 0 2px 2px 0;
    border-left: 0;
    /*height: 42px;*/
}

.form-group input{
    border-radius: 2px 2px 2px 2px;
}

.input-group .form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    border-color: #ccc;
}

.has-error .form-control, .has-error .form-control:focus,.has-error textarea,.has-error textarea:focus,.has-error select,.has-error select:focus {
    border-color: #a94442;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.has-success .form-control, .has-success .form-control:focus,.has-success textarea,.has-success textarea:focus,.has-success select,.has-success section:focus {
    border-color: #3c763d;
    box-shadow: none;
    -webkit-box-shadow: none;
}

.input-group .input-group-addon {
    background-color: transparent;
    border-right: 0;
    border-radius: 2px 0 0 2px;
    box-shadow: none;
}

textarea.form-control,textarea {
    border-radius: 2px 2px 2px 2px;
}

textarea.form-control:focus,textarea:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
    /*border-color: #ccc;*/
}

.btn-group-lg > .btn, .btn-lg {
    border-radius: 2px;
}

.or-container {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    clear: both;
    color: #6a737c;
    font-variant: small-caps;
}

.or-hr {
    margin-bottom: 0;
    position: relative;
    top: 19px;
    height: 0;
    border: 0;
    border-top: 1px solid #e4e6e8;
}

#or {
    display: inline-block;
    position: relative;
    padding: 10px;
    background-color: #FFF;
}

.form-control:focus {
    box-shadow: none;
    -webkit-box-shadow: none;
}